.timePickerButton
  background-color:  #c5eaff
  border: 2px solid #000000
  padding: 0.8rem
  border-radius: 4px
  color: #000
  cursor: pointer
  font-size: 14px
  transition: background-color 0.3s
  width: 300px
  &:hover
      background-color: #e6f7ff
    
.timePickerButtonOpen
  border-bottom: none
  border-bottom-left-radius: 0
  border-bottom-right-radius: 0
    
.timePickerDropdown
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-evenly
  margin-top: -3px
  width: calc(300px - 1.6rem - 4px)
  border-radius: 4px
  background-color: #c5eaff
  padding: 0.8rem
  border: 2px solid #000000
  border-top: none

.timePickerDropdownTimeButton
  background-color: transparent
  border: none
  padding: 0.8rem
  cursor: pointer
  transition: background-color 0.3s
  width: 40%
  &:hover
    background-color: #e6f7ff
  
.timePickerDropdownTimeDiv
  width: 40%
  height: 20px
  